
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;

    }

.b {
  color: rgb(252, 250, 247);
 font-weight: 300;
  }



.home_page_picture {
  width: 200px;
  height: 150px !important;
}

.pagination {
  text-align: center;
}
